/*                  Arquivo principal sobre CSS.                  *
*                   www.zksoftwarehouse.com.br                    *
*                   contato@zksoftwarehouse.com.br                */

html{
    height: 100%;
    background-color: white;
}

body{
    margin: 0px;
    background-color: white;
    height: 100%;
}

a{  
    font-family: Verdana;
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

h1.hOpcoes{
    color: darkgray;
    font-family: Verdana;
    font-size: 20px;
}

h1.geral{
    text-align: center;
}

p{
    margin: 5px;
    color: gray;
}

.divGlobal{
    width: 100%;
    height: 100%;
    background-color: black;
}

.divOpcoes{
    width: 210px;
    height: 40px;
    margin-left: 40px;
    margin-top: 15px;
    text-align: center;
    border-radius: 3px;
}

.divOpcoes:hover{
    background-color: gray;
}

.divOpcoesCript{
    margin-left: 20px;
    float: left;
    width: 270px;
    height: 200px;
    background: transparent;

    border-radius: 5px;

}

.divOpcoesCript:hover{
    cursor: pointer;
    box-shadow:0px 0px 10px #000 inset;
    border-color: black;
}

/*Testes com MODAL*/
/*Testes com MODAL*/
.modalArquivos {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalArquivos:target {
    opacity:1;
    pointer-events: auto;
}

.modalArquivos > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.modalCriptografia{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalCriptografia:target {
    opacity:1;
    pointer-events: auto;
}

.modalCriptografia > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close{
    background: #000;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: blue; 
}

#divModalArq{
    margin-top: 5%;
    width: 80%;
    height: 80%;
}

#divModalCript{
    margin-top: 5%;
    margin-left: 400px;
    width: 50%;
    height: 50%;   
}

/*Testes com MODAL*/
/*Testes com MODAL*/

#divArquivos{
    width: 70%;
    height: 80%;
    margin-top: 2%;
    float: right;
    border: 2px solid;

    border-radius: 5px;
    border-color: gray;
    background-color: white;
}

#divCript{
    margin: 5px;
    width: 94.5%;
    height: 45%;
    margin-top: 4%;
    float: right;

    background-color: transparent;
}

#divLateral{
    background-color: black;
    margin-bottom: -2px;
    width: 300px;
    height: 99%;
    float: left;
    text-align: center;
    
    border-radius: 5px;
    box-shadow: 7px 3px 12px 2px #000;
}

#divCentral{
    float: right;
    display: inline-block;
    width: 75%;
    height: 94%;
    margin-top: 0.1em;
    background-color: red;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 7px 3px 20px 2px #000;   
}

#divInformacoes{
    margin-top: 0.1%;
    float: right;
    display: inline-block;
    width: 75%;
    height: 30px;

    background-color: white;
    border-radius: 2px;
    
}

#logoZK{
    width: 100px;
    margin-top: 20px;
}

#botaoZK{
    margin-top: 1%;
    width: 200px;
    margin-left: 15%;
}

#botao{
    margin-top: 275px;
    width: 20px;
    height: 70px;
}

#botao:hover{
    cursor: pointer;
}
