/* Arquivo principal sobre CSS.  *
* www.zksoftwarehouse.com.br     *
* contato@zksoftwarehouse.com.br */

html{
    height: 100%;
}

body{
    margin: 0px;
    background-color: darkgray;
    height: 100%;
}

a{  
    font-family: Verdana;
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

h1.hOpcoes{
    color: darkgray;
    font-family: Verdana;
    font-size: 20px;
}

h1.arquivos{
    text-align: center;
}

p{
    margin: 5px;
    color: gray;
}

.divOpcoes{
    width: 200px;
    height: 40px;
    margin-left: 50px;
    margin-top: 15px;
    text-align: center;
    border-radius: 3px;
}

.divOpcoes:hover{
    background-color: gray;
}

/*Testes com MODAL*/
/*Testes com MODAL*/
.modalArquivos {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalArquivos:target {
    opacity:1;
    pointer-events: auto;
}

.modalArquivos > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close{
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { 
    background: #00d9ff; 
}

#divModal{
    margin-top: 5%;
    width: 80%;
    height: 80%;
}

#divArquivos{
    width: 70%;
    height: 80%;
    margin-top: 2%;
    float: right;
    border: 2px solid;

    border-radius: 5px;
    border-color: gray;
    background-color: white;
}
/*Testes com MODAL*/
/*Testes com MODAL*/

#divGlobal{
    width: 100%;
    height: 100%;
    background-color: gray;
    float: right;
}

#divLateral{
    background-color: black;
    margin-bottom: -2px;
    width: 300px;
    height: 99.1%;
    float: left;
    text-align: center;
    
    border-radius: 5px;
    /*border: 1px solid;*/
    /*border-color: white;*/
    box-shadow: 7px 3px 12px 2px #000;
}

#divCentral{
    display: inline-block;
    width: 76%;
    height: 93%;
    margin-top: 0.1em;
    margin-left: 0.85em;
    background-color: red;
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 7px 3px 20px 2px #000;   
}

#divInformacoes{
    display: inline-block;
    width: 76%;
    height: 35px;

    margin-left: 0.85em;
    background-color: white;
    border-radius: 5px;
    
}

#logoZK{
    width: 100px;
    margin-top: 20px;
}

#botao{
    width: 20px;
    height: 50px;
}